name: deploy-to-lightsail-production
run-name: ${{ github.actor }} is learning GitHub Actions
on: 
  push:
    branches:
      - main
jobs:
  check-node-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - run: npm -v
      
      - name: Setup SSH
        run: |
          echo "${{ secrets.LIGHTSAIL_PEM_KEY }}" > key.pem
          chmod 400 key.pem

      - name: Deploy to remote server
        run: |
          ssh -i key.pem ubuntu@18.226.104.176